<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "page/meta-data.html" %}
</head>
<body>
    {% if session["customer_signed_in"] == True %}
    {% include "homepage/customer-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <br>
    <div class="mt-4 container text-center">
        <br>
        <h2 class="text-success mt-2 mx-auto mb-4">(づ｡◕‿‿◕｡)づ</h2>
        <h1 class="text-success mt-2 mx-auto mb-4">XÁC NHẬN YÊU CẦU!</h1>
        <h2 class="text-success mt-2 mx-auto mb-4">Yêu cầu của bạn đã được gửi đi, xin chờ xác nhận. Cảm ơn bạn đã tin tưởng và
                đồng hành cùng Learn it all!
        </h2>
    </div>
    <div class="mb-2 container d-flex justify-content-around">
        <button class="btn btn-text-primary">
            <a href="{{ url_for('show_all_categories') }}">Tiếp tục tìm hiểu các khóa học</a>
        </button>
        <br>
        <button class="btn btn-text-primary">
            <a href="{{ url_for('homepage') }}">Về trang chủ</a>
        </button>
    </div>
    {% include "homepage/footer.html" %}
</body>
</html>