<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn it all</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    {%include "page/meta-data.html" %}
  
</head>
<body class="bg-cont">
    {% if session["customer_signed_in"] == True %}
    {% include "homepage/customer-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <div class="container my-4 d-flex flex-column justify-content-center">
        <div class="container mt-4 d-flex justify-content-center"><img src="http://getwallpapers.com/wallpaper/full/8/2/c/200229.jpg" 
            class="img-thumbnail"></div>
        <h1 class="text-center mt-4">Kiến thức cơ bản của Gym</h1>
            <h2>Chức Năng Của Nước Đối Với Cơ Thể</h2>
                <p>
                    <strong>Nuôi dưỡng tế bào:</strong>
                    nước cung cấp, vận chuyển chất dinh dưỡng cần thiết cho các tế bào, chẳng hạn như các khoáng chất, vitamin và glucose...
                    <br>
                    <strong>Chuyển hoá và tham gia các phản ừng trao đổi chất:</strong>
                     nước là dung môi hoà tan và vận chuyển các chất dinh dưỡng trong thức ăn mà cơ thể đã hấp thu.
                    <br>
                    <strong> Đào thải các chất cặn bã:</strong>
                    nước loại bỏ các độc tố mà các cơ quan, tế bào từ chối đồng thời thông qua đường nước tiểu và phân.
                    <br>
                    <strong>Ổn định nhiệt độ cơ thể:</strong>
                    nước giúp cân bằng nhiệt độ cớ thể trong môi trường nóng hoặc lạnh. Nước cho phép cơ thể giải phóng nhiệt khi nhiệt độ môi trường cao hơn so với nhiệt độ cơ thể. Cơ thể bắt đầu đổ mồ hôi, và sự bay hơi của nước từ bề mặt da rất hiệu quả làm mát cơ thể.
                    <br>
                    <strong>Giảm ma sát:</strong>
                     nước là một chất bôi trơn hiệu quả quanh khớp. Nó cũng hoạt động như một bộ phận giảm xóc cho mắt, não, tuỷ sống và ngay cả đối với thai nhi trong nước ối.
                    <br>
                    Nước là trung tâm của cuộc sống. Điều này lý giải tại sao không ai có thể sống hơn 3 đến 5 ngày mà không có bất kỳ lượng nước uống vào.
                </p>
            <h2>CÁCH UỐNG NƯỚC CHO DÂN THỂ HÌNH</h2>
                <p>
                    Nhu cầu nước của người bình thường là 1ml nước cho mỗi calories ăn vào từ thức ăn. Ví dụ 
                    một người tiêu thụ 1 ngày 2000 calories đồng ý với người đó cần 2 lít nước. Một phần nước này lấy từ thức ăn, 
                    do đó người này chỉ cần uống 1-1.5 lít nước mà thôi.
                    <br>
                    Tuy nhiên đối với người chơi thể hình thì do nhu cầu nước nhiều hơn trong tập luyện và việc đào thải cặn bả của protein. 
                    Trung bình cần 7ml nước cho 1 calories giải phóng từ protein. Như ta đã biết 1g protein giải phóng 4 calories. Do đó một 
                    người 70kg sử dụng 2g protein cho mỗi kg trọng lượng cơ thể thì sẽ cần lượng nước là 70*2*4*7=3920ml. Đối với những 
                    ai chơi chương trình MaxOT thì nhu cầu về nước sẽ rất nhiều do MaxOT chú trọng lượng protein rất lớn.
                    <br>
                    Bên cạnh đó, khi bạn ăn mặn cũng cần chú ý lượng nước. Trung bình bạn ăn 1g muối thì bạn cần 1 lít nước. Ví dụ ngày đó 
                    bạn ăn 5g muối thì bạn cần lượng nước cho ngày hôm đó là 5 lít.
                </p>

    </div>
    <div class="container d-flex justify-content-around btn">
        <a href="{{ url_for('sport') }}" class="btn btn-primary">Quay lại Sport</a>
        <a href="{{ url_for('homepage') }}" class="btn btn-primary">Trang chủ</a>
    </div>
    {% include "homepage/footer.html" %}
</body>
</html>